In [1]:
import pandas as pd

In [2]:
data = ['BMW','Toyota','Mercedez','Mitshubishi','Veltz','Harrier','CR-V']
data

['BMW', 'Toyota', 'Mercedez', 'Mitshubishi', 'Veltz', 'Harrier', 'CR-V']

In [12]:
df = pd.DataFrame(data)
print(df)

             0
0          BMW
1       Toyota
2     Mercedez
3  Mitshubishi
4        Veltz
5      Harrier
6         CR-V

In [13]:
df = pd.DataFrame(data, index=['Brand_001','Brand_002','Brand_003','Brand_004','Brand_005','Brand_006','Brand_007'])
print(df)

                     0
Brand_001          BMW
Brand_002       Toyota
Brand_003     Mercedez
Brand_004  Mitshubishi
Brand_005        Veltz
Brand_006      Harrier
Brand_007         CR-V

In [14]:
df = pd.DataFrame(data, index=['Brand_001','Brand_002','Brand_003','Brand_004','Brand_005','Brand_006','Brand_007'], columns=['Car Model'])
print(df)

             Car Model
Brand_001          BMW
Brand_002       Toyota
Brand_003     Mercedez
Brand_004  Mitshubishi
Brand_005        Veltz
Brand_006      Harrier
Brand_007         CR-V

In [15]:
data = [ ['Apple', 135], ['Orange', 143], ['Mango', 145]]
print(data)

[['Apple', 135], ['Orange', 143], ['Mango', 145]]

In [16]:
df = pd.DataFrame(data)
print(df)

        0    1
0   Apple  135
1  Orange  143
2   Mango  145

In [17]:
df = pd.DataFrame(data, columns=['Food','Price'])
print(df)

     Food  Price
0   Apple    135
1  Orange    143
2   Mango    145

In [18]:
df = pd.DataFrame(data, columns=['Food','Price'], index=['Item_001','Item_002','Item_003'])
print(df)

            Food  Price
Item_001   Apple    135
Item_002  Orange    143
Item_003   Mango    145

In [20]:
df.describe()

            Price
count    3.000000
mean   141.000000
std      5.291503
min    135.000000
25%    139.000000
50%    143.000000
75%    144.000000
max    145.000000

In [22]:
data = {'Food':['Apple','Mango','Orange'], 'Price':[124,150,175]}
data

{'Food': ['Apple', 'Mango', 'Orange'], 'Price': [124, 150, 175]}

In [23]:
df = pd.DataFrame(data)
print(df)

     Food  Price
0   Apple    124
1   Mango    150
2  Orange    175

In [24]:
df = pd.DataFrame(data, index=['ID_001','ID_002','ID_003'])
print(df)

          Food  Price
ID_001   Apple    124
ID_002   Mango    150
ID_003  Orange    175